.card__box {
  width: 15em;
  height: 15em;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: relative;
}

.card__input {
  width: 10rem;
  height: 3rem;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
}

.card__delete {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1em;
  height: 1em;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__delete__icon {
  height: 1.5em;
}

.card__name {
  font-size: 1.2em;
}
