.create__box {
  width: 15em;
  height: 15em;
  border: 3px solid black;
  list-style: none;
}

.create__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: transparent;
}

.create__input {
  width: 10rem;
  height: 3rem;
  border: 3px solid black;
  border-radius: 5px;
}

.create__input--colortext {
  font-size: 1.2rem;
  text-align: center;
}
