.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app__header {
  padding: 1em;
}

.app__copy-info {
  position: fixed;
  bottom: 1vh;
  right: -200px;
  background-color: #ababab;
  padding: 1em;
  border-radius: 1em;
  border: 3px solid black;
  font-size: 0.9em;
  transition: all ease-in 0.3s;
  font-weight: bold;
}

.app__copy-info--active {
  right: 1vw;
  transition: all ease-out 0.3s;
}

.colorPalette__header-input {
  width: 90vw;
  background-color: transparent;
  border: 0;
  font-size: 1.6em;
  text-align: center;
  transition: all ease-in 0.2s;
}

.colorPalette__header-input:focus {
  outline: none;
  font-size: 2em;
  transition: all ease-in 0.2s;
}
